.message-popup {
  position: absolute;
  outline none;
  border: 3px #bad3db solid;
  padding 20px;
  background-color: #fff;

  min-width: 240px;
  font-size 13px;

  left: -54px;
  top: 40px;
  z-index: 100;
  cursor default;
  text-align left;
  color: #000;

  &__close {
    width 27px;
    height 27px;
    border none;
    outline none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALBAMAAABbgmoVAAAAHlBMVEUAAAC2tra2tra2tra2tra2tra2tra2tra2tra2trYoyJnJAAAACXRSTlMAwAoL8LexPRS7Sl2BAAAAOklEQVQI12MoU2BgUCtgiBRiYJIMYDCcqKA40YCBWVJCUpiBgUFxykQDIMXh6cEA40HloCqh+qCmAADHcwvSov9qmgAAAABJRU5ErkJggg==') no-repeat center center;
    cursor: pointer;
    position absolute;
    right: 0;
    top: 0;
  }

  &__item {
    line-height 18px;
    border-bottom 1px solid #c6c7c7;
    padding: 20px 0;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__more {
    color #0262a0;
  }

  &__status {
    display inline;

    &_type {
      &_approve {
        color #00b5b7;
      }
      &_reject {
        color #ff4e00;
      }
    }
  }

  $arrowWidth = 15px;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -17px;
    left: 50px;
    border-left: $arrowWidth solid transparent;
    border-right: $arrowWidth solid transparent;
    border-bottom: $arrowWidth solid #bad3db;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -14px;
    left: 50px;

    border-left: $arrowWidth solid transparent;
    border-right: $arrowWidth solid transparent;
    border-bottom: $arrowWidth solid #fff;
  }
}