.parameters {
  font-size 16px;
  margin 0;
  float left;
  padding-right  184px;

  &_last_child {
    padding-right 0;
  }

  &__subtitle {
    color: #8d8d8d;
    line-height 30px;
  }

  &__text {
    line-height 30px;
    margin 0;
    &_pink {
      color #fa36b7;
    }
  }
}