.ic-message {
  font-size 15px;
  color #0262a0;
  background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAATBAMAAABxdXByAAAAKlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKE86IAAAADnRSTlMATQxINUU6JkAWCSEYMnXEpEQAAACTSURBVBjTYxBEAZjcDQxQwA3iFsrCuBfFgVwewy4Ib4XwASCXQUN4AojHadjEAOIyOIqDuIUiDBAuu6ADAwOLYAGUy7BRQoGp0YYByuUKNLScLCwC4y4VWyIo6GToAOYCJRMYCsUZlKFGqYoBbZnAwASUBnKZgJIgAJQGcYGSEMAU6ADkwiQZgLqAXKAkXFoQv/cBiDIYtlbhIgIAAAAASUVORK5CYII=') no-repeat left top;
  padding-left: 45px;
  display: inline-block;
  line-height: 21px;
  height: 30px;
  font-style normal;
  position relative;
  margin-bottom: -14px;
  cursor: pointer;

  &__count {
    color #fff;
    background-color: #ff3e2c;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    display: inline-block;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: 20px;
  }

  .message-popup {
    display none;
  }
}