.block {
  background-color #FFFFFF;
  &__inner {
    width 1000px;
    margin 0 auto;

    &_padding_panel {
      padding 115px 0;
    }

    &_padding_star {
      padding 65px 0 72px 0;
    }

    &_padding_parameters {
      padding 111px 0 102px 0;
    }

    &_padding_message {
      padding 27px 27px;
    }
  }
  &_blue {
    background-color #e2fffe;
  }

  &__title {
    margin 0;
    font-size 24px;
    padding: 0 0 43px 0;
    margin-left: -18px;
  }
}